h1 {
    font-size: 65px;
    color: orange;
    font-family: sans-serif;
}
ul {
    background-color: blue;
    text-align: center;
    text-decoration: lightgray;
    line-height: 30px;
}
.cor-ulp {
    background-color: rgb(194, 13, 73);
} 
body {
    font-size: 16px;
}
p {
    font-size: 3em;
    font-style: italic;
}
#Amarelo {
    background-color: yellow;
}
#Branco {
    background-color: white;
}
#Preto {
    background-color: black;
    color: blanchedalmond;
}